<mat-toolbar>
    <span [routerLink]="['/']" id="title">TestICall</span>
    <button mat-button [routerLink]="['/user/profile']">Le jeu</button>

    <button mat-button [routerLink]="['/user/profile']">Below</button>

    <button mat-button [routerLink]="['/user/profile']">Before</button>

    <button mat-button [routerLink]="['/user/profile']">Qui sommes-nous ?</button>

    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['/user/profile']">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>