/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 10px 20% 0 20%;
}

mat-card {
    margin: 20px;
}

.validButton {
    background-color: #00b159;
    color: white;
}

.right {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
}

.center-verticaly {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    mat-form-field {
        width: 50%;
    }
}